---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
sitemap: false
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.sitemapEntries %}
  <url>
    <loc>{{ site.url }}{{ entry.url }}</loc>
    <lastmod>{{ entry.date | isoDate }}</lastmod>
    <changefreq>{{ entry.data.changefreq or 'monthly' }}</changefreq>
    <priority>{{ entry.data.priority or '0.7' }}</priority>
  </url>
{%- endfor %}
</urlset>
